#pagetitle {
    position:         absolute;
    top:              10px;
    left:             10px;
    width:            530px;
    height:           50px;
    background-color: yellow;
}

#floorplan {
    position:         absolute;
    top:              70px;
    background-color: white;
    border-style:     solid;
    border-width:     1px;
    border-color:     black;
}

#nextbutton {
    position:         absolute;
    left:             10px;
    width:            100px;
    height:           50px;
    background-color: yellow;
}

#playbutton {
    position:         absolute;
    left:             120px;
    width:            100px;
    height:           50px;
    background-color: blue;
}

#pausebutton {
    position:         absolute;
    left:             230px;
    width:            100px;
    height:           50px;
    background-color: orange;
}

#timelabel {
    position:         absolute;
    left:             340px;
    width:            200px;
    height:           50px;
    background-color: grey;
}

#versionlabel {
    position:         absolute;
    left:             10px;
    width:            530px;
    height:           50px;
    background-color: green;
}

.obstacle {
    fill:             #aaaaaa;
}

.positionerror {
    stroke:           red;
    stroke-width:     2px;
}

.orchestratorview {
    fill:             red;
    stroke:           black;
    stroke-width:     1px;
}

.collisionpath {
    stroke:           blue;
    stroke-width:     1px;
    stroke-dasharray: 2;
}

.dotbot {
    fill:             blue;
    stroke:           black;
    stroke-width:     1px;
}
